#header1 .titleBar{
  width: 100%;
  height: 40px;
  background: #f12;
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #f12;
}
#footer ul{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  background: #252525;
}
#footer li{
  -webkit-flex: 1;
  flex:1;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#footer li a{
  font-size: 13px;
  color: #949494;
}
#footer .active{
  background: #c1000e;
}
#footer .active a{
  color: #fff;
}



.topBar .navBar{
  display: flex;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
}
